.App {
  display: flex;
  flex-direction: column;
  width: 50rem;
  min-height: 39.5rem;
  background-color: #fff;
  box-shadow: 0 2px 2px 3px rgba(231, 231, 231, 0.4);
}

@media (max-width: 825px) {
  .App {
    width: 20rem;
  }
}
